{% extends "base.html" %}

{% block title %}
    Geospatial spanning tree
{% endblock %}

{% block content %}
            <div id="map" class="map"></div>
            <div id="popup" class="ol-popup">
                <a href="#" id="popup-closer" class="ol-popup-closer"></a>
                <div id="popup-content"></div>
            </div>

            <div id="info">&nbsp;</div>
{% endblock %}


{% block scripts %}

    <link rel="stylesheet" href="https://openlayers.org/en/v4.6.5/css/ol.css" type="text/css">

    <script src="{{ url_for('static', filename='js/vendor/jquery-1.11.2.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/jquery-ui-1.8.16.custom.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/jquery.event.drag-2.2.js') }}"></script>
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
    <script src="https://openlayers.org/en/v4.6.5/build/ol.js"></script>
    <!-- <script src="https://openlayers.org/en/v5.0.0/build/ol.js"></script> -->
    <script type="text/javascript" src="http://maps.stamen.com/js/tile.stamen.js?v1.3.0"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/5.0.4/math.min.js"></script>

    <script src="{{ url_for('static', filename='js/utilities.js') }}"></script>
    <script src="{{ url_for('static', filename='js/nearestneighbor.js') }}"></script>
    <script src="{{ url_for('static', filename='js/coords_calculation.js') }}"></script>
    <script src="{{ url_for('static', filename='js/gui_interactivity.js') }}"></script>

{% endblock %}
